@import "tailwindcss/base";

/* muli-regular - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/muli-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/muli-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-800 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/muli-v20-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/muli-v20-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@media (min-width: 640px) {
  html {
    font-size: 7px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 8.5px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}

