:root {
  --container-bg: linear-gradient(
    -45deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(146, 209, 222, 1) 100%
  );
  --login-container-bg: #00849f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
}

.container {
  background: var(--container-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: inherit;
}

.admin-container {
  background-color: var(--login-container-bg);
  height: 70%;
  width: 35%;
  box-shadow: 0 0 20px var(--login-container-bg);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 75%;
  padding: 50px;
  color: rgba(146, 209, 222, 1);
  width: 100%;
}

.login-form.signup {
  height: 100%;
}

.login-header {
  padding: 10px 0;
}

.form-element {
  width: 100%;
  padding: 10px 0;
}

.input-element {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-element label {
  padding: 10px 0;
}

.input-element input {
  width: 100%;
  height: 35px;
  border: none;
  padding: 10px;
  font-size: 10pt;
  background: #fcfcfc;
  color: black;
}

.button-element {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-element input {
  background: var(--container-bg);
  height: 35px;
  width: 100px;
  border-radius: 5px;
  color: var(--login-container-bg);
  font-size: 10pt;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background 5s ease-in;
}

.button-element input:hover {
  background: linear-gradient(
    -45deg,
    rgba(146, 209, 222, 1) 0%,
    rgba(227, 227, 227, 1) 100%
  );
}

.login-footer {
  padding: 10px 0;
}

.login-footer a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 0 10px;
  padding: 5px 10px;
  font-weight: lighter;
}
